.gpio-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.gpio-status-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin: 10px; */
    /* border-top: 1px solid var(--under-line); */
    /* border-bottom: 1px solid var(--under-line); */
}

/* .gpio-status-pane-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

} */


.gpio-status-label {
    text-align: center;
    font-size: 1.2rem;
    color: #a0a0a0;
    padding: 10px 10px 10px 10px;

}

.gpio-status-pane-cnc-column{
    display: flex;
    justify-content: space-around;
    /* background-color: aquamarine; */
    align-items: center;
    flex-direction: row;
}

/* .gpio-border-div-cnc-container{
    
} */

.gpio-border-div {
    display: flex;
    width: auto;
    height: 70px;
    min-width: 300px;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid var(--under-line);
    border-left: 1px solid var(--under-line);
}

.gpio-status-label-cnc{
    font-size: 1.5rem;
    border: 1px solid var(--under-line);
    padding: 2px;
    border-radius: 10px;
}

.gpio-border-div-cnc{
    display: flex;
    width: auto;
    height: 80px;
    min-width: 200px;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    /* border-right: 1px solid var(--under-line);
    border-left: 1px solid var(--under-line); */
}

.gpio-status-pane-cnc {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* gap: 10px; */
    border-radius: 20px;
    /* padding: 5px; */
    border: 1px solid var(--under-line);
    /* background-color: beige; */
    /* border-bottom: 1px solid var(--under-line); */
    /* background-color: aquamarine; */


}



.gpio-gripper {
    height: auto;
    min-height: 100px;
    display: flex;
    width: auto;
    min-width: 300px;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--under-line);
    padding: 10px;

}


.gpio-digital-indicator {
    display: flex;
    height: 100px;
    width: auto;
    min-width: 300px;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--under-line);
}

.gpio-label {
    padding: 10px;
}
.gpio-cnc-divider{
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--under-line);
    
}