.heading-container {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #ccc;
    background: linear-gradient(145deg, #8b0000, #4b2e2e);

    padding-left: 70px;
    padding-right: 70px;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);


}

.toggle-container {
    position: relative;
    width: 50px;
    height: 24px;
}

.toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 2.3s ease;
}

.toggle:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: transform 1.3s ease;
}

.toggle-on {
    background-color: teal;
}

.toggle-on:before {
    transform: translateX(26px);
}

.stylish-radio-label {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(219, 182, 138);
    cursor: pointer;
}


#inputlabel{
    font-weight: bold;
    color: rgb(156, 36, 15);
    font-size: 1.1em;
    background: linear-gradient(145deg, #252323, #181515);
    border-radius: 5px;

    
}
.input-field {
    padding: 5px;
    font-size: 1.1em;
    width: 200px;
    margin-top: 5px;
    border-radius: 5px;
    border: 3px inset #c7341ab7;
    background-color: #131212;
    color: white;
}
.unit {
    font-weight: bold;
    color: #e4dbdb;
    background: linear-gradient(145deg, #6b282877, #181515);
    border-radius: 5px;
    padding: 2px;
}

.button-container {
    display: flex;
    position: relative;
    justify-content: center;
}


.control-button {
    padding: 15px 30px;
    font-size: 1.1em;
    color: white;
    background: linear-gradient(145deg, #af7bb1, #c40707);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 0 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    
}

.control-button:nth-child(3) {
    background-color: #ad3f4a; /* Red color for reverse button */
}

.control-button:active {
    transform: scale(0.90);
}

button {
    /* background-color: #f76c6c; Accent color for buttons */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.control-button:hover {
    background-color: #0c6470; /* Slightly darker hover effect */
}

.control-button:active {
    background-color: #0a5358; /* Pressed button effect */
}

.display-container {
    display: flex;
    text-align: left;

    justify-content: space-around;
    margin-top: 5px;
    background: linear-gradient(145deg, #f5a7a7, #ece6e6);
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
}


#currentPosition {

    color: #2c3e50;
    font-weight: bold;
}
#currentPositionUnit {

    color: #362353;
    font-weight: bold;
}

#currentVelocity {
    
    color: #f1f3f5;
    font-weight: bold;
}
#currentVelocityUnit {

    color: #e0dce7;
    font-weight: bold;
}
#CATime {

    color: #f0ecdf;
    font-weight: bold;
}
#CATimeUnit {

    color: #f2eef7;
    font-weight: bold;
}
.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: linear-gradient(145deg, #6b282877, #181515);

    padding: 5px;
    border: 2px solid #550505;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

    /* .input-check{
    color: #8b0000; */
