body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text color */
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Space between containers */
}

.path-management, .servo-node-controller {
    background: #1e1e1e; /* Dark container background */
    border: 1px solid #333; /* Border color */
    border-radius: 8px;
    padding: 20px;
    width: 48%; /* Adjust as needed */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: #FFA726;
    margin-top: 20px;
}

h2 {
    margin-top: 0;
    color: #ff7626;
    text-align: center; /* Center the heading */
}

.columns {
    display: flex;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items in column */
}

.button-item {
    margin: 12px 0; 
    text-align: center; /* Center text in button items */
}
.joint-item {
    display: flex;
    align-items: center;
    min-width: 90%;
    gap: 10px;
    justify-content: space-between;
    background-color: #263238;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 12px 0;
}

.input-field {
    width: calc(100% - 120px); /* Adjust width based on button size */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px; /* Space between input and button */
    background-color: #263238;
    color: #fff;
}

.btn {
    font-size:2rem; 
    padding: 2px 15px; /* Adjusted for better fit */
    color: #263238;
    background-color: #49b38f;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Transition effects */
}

.btnpush{
    background-color: #4bbd88;
    margin-top: 5px;
}

.btnplus{
    background-color: #49b38f;
    width: 40%;
    height: 100%;
}
.btnminus{
    background-color: #d1454c;

    width: 40%;
    height: 100%;
}

 .btn:hover { 
    background-color: #FF9800; 
    transform: translateY(-1px);
} 

.vertical-line {
    width: 2px;
    background-color: #555; /* Dark vertical line */
    margin: 0 10px;
}

.btnminus:active {
    background-color: #ad3e12;
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.btnplus:active {
    background-color: #24704d;  
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.btnpush:active {
    background-color: #9e6208; /* Darker blue on hover */
    transform: scale(0.96);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.additional-controls {
    /* display: flex; */
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}
.subs_value{
    pointer-events: none;
}

