.multipath-popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.multipath-popup-content {
    background: rgba(18, 107, 100, 0.863);
    /* font-size: 44px; */
    font-weight: bolder;
    padding: 40px;
    border-radius: 10px;
    width: 840px;
    /* Increased width for side-by-side layout */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
}

.close-popup {
    float: right;
    font-size: 20px;
    cursor: pointer;
    background-color: #ff854d;
    color: rgb(17, 1, 1);
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    padding: 3px 6px;
}

.section-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* Space between sections */
}

.section {
    flex: 1;
    margin-bottom: 20px;
    font-weight: 34px;
    font-weight: bolder;
}

.file-dropdown {
    font-size: 20px;
    width: 100%;
    padding: 6px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #3a3f47;
    font-size: 22px;
    background-color: #232931;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 2px rgba(0, 212, 255, 0.4);
}

.file-dropdown:focus, .file-dropdown:hover {
    border-color: #00d4ff;
    box-shadow: 0 0 4px rgba(0, 212, 255, 0.7);
}

.file-dropdown option {
    background-color: #3f424e;
    color: #00d4ff;
    font-size: 20px;
    padding: 6px;
}

.delete-button,
.close-buton,
.save-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
}
.close-buton{
    background-color: #f35a1d;
    color: white;
}
.save-button {
    background-color: #4CAF50;
    color: white;
}

.save-button:active,
.delete-button:active {
    transform: scale(0.95);
}

label {
    font-size: 18px;
    /* Increased text size */
}

h2 {
    font-size: 25px;
    /* Increased text size */
}

.save-popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.save-popup-content {
    background: rgba(54, 104, 73, 0.952);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* .close-save-popup {
    float: right;
    font-size: 16px;
    cursor: pointer;
    background-color: #cf5016;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    padding: 3px 6px;
} */

#fileNameInput {
    width: 100%;
    padding: 10px 0px 10px 0px;
    /* margin: 10px 0; */
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}